In [3]:
import pandas as pd
import numpy as np
sheet_name='T6 Wine production'
df = pd.read_excel('Wine_History.xlsx', 
                         sheet_name=sheet_name, header=1, index_col=None)
df.index.rename('year',inplace=True)
df=df.reset_index()

In [4]:
df.head()

,year,1865,6946000.29825,1829807.221201828,215100,1494356,172138.9266666667,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 44,700,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,12673148.24913022,Unnamed: 53
0,0,1866,6431678.50,2.173405e+06,215700.0,1548267.0,168054.260000,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.253196e+07,NaN
1,1,1867,3942146.00,2.145163e+06,150000.0,1602178.0,163969.593333,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.028657e+07,NaN
2,2,1868,5248873.50,2.124539e+06,179700.0,1656089.0,159885.000000,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.200536e+07,NaN
3,3,1869,7052500.00,2.284411e+06,187700.0,1710000.0,123090.000000,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.355780e+07,NaN
4,4,1870,5494401.25,2.415184e+06,279300.0,1710000.0,89793.000000,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.175602e+07,NaN

In [9]:
csv_sheets=['T6 Wine production','T8 Wine prodn per capita','T10 Wine export vol','T15 Wine import vol',\
       'T34 Wine consumption vol','T38 Wine consumption per capita','T58 Population','T96 Wine cons intensity index']
dfs=[];
for i in range(0,len(csv_sheets)):
    dfs[i]=csv_sheets[i]+str(i);
    print(dfs[i])
dfs

IndexError: list assignment index out of range

In [ ]:
outputpath="..\data\cleandata\Wine_History.xlsx"
writer = pd.ExcelWriter(outputpath, engine='xlsxwriter')


#Wine production volume(dfwpv) (KL) (ws #6)
sheetname='T6 Wine production'
dfwpv=giant_worksheet(sheet_giant=sheetname,thr=30)

#wine production per capita (dfwppc) (litres) (ws #8)
sheetname='T8 Wine prodn per capita'
dfwppc=giant_worksheet(sheet_giant=sheetname,thr=30,brr=3)

#wine production per capita (dfwev) (KL) (ws #10)
sheetname='T10 Wine export vol'
dfwev=giant_worksheet(sheet_giant=sheetname,thr=30,brr=3)

#Wine import volume(dfwiv) (KL) (ws #15)
sheetname='T15 Wine import vol'
dfwiv=giant_worksheet(sheet_giant=sheetname,thr=30)
dfwiv.to_excel(writer, sheet_name=sheetname)

#Wine consumption volume(dfwcv) (KL) (ws #34)
sheetname='T34 Wine consumption vol'
dfwcv=giant_worksheet(sheet_giant=sheetname,thr=30,brr=2)
dfwcv.to_excel(writer, sheet_name=sheetname)

#Wine consumption per capita (dfwcpc) (litres) (ws #38)
sheetname='T38 Wine consumption per capita'
dfwcpc=giant_worksheet(sheet_giant=sheetname,thr=30,brr=2)
dfwcpc.to_excel(writer, sheet_name=sheetname)

#Global population (dfgp) (*1000) (ws #58)
sheetname='T58 Population'
dfgp=giant_worksheet(sheet_giant=sheetname,thr=30)
dfgp.to_excel(writer, sheet_name=sheetname)


#Wine consumption intensity index (dfwcii) (ws #96)
sheetname='T96 Wine cons intensity index'
dfwcii=giant_worksheet(sheet_giant=sheetname, brr=15,thr=126)
dfwcii.to_excel(writer, sheet_name=sheetname)