#                             DO NOT RUN THIS NOTEBOOK!! 
#                        IT WILL APPEND mLab COLLECTIONS!!

# Project: Wine History, Price Price & Rating
# Group: Pygeons
# description:
### This code generates non-relational dbs in mLab by importing wine features: 
### 1) Wine history from several Excel sheets for the wine features (e.g., produciton, consumption, import, export, ...) for 54 countries over a times series (1865-2016) (Wine_History.xlsx). 
### 2) Wine price and rating (Wine_price_rating_variety.csv)

# Cloud db: heroku_stp5z9b7 database in mLab accessible from Heroku

# 1) For the wine history, we export the db using three options:
### 1-1) genrating a Pandas df from all data from all worksheets -> Jsonify df --> use commands in a terminal (wine collection with 1 document in mLab)

### 1-2) add each row (a list of dictionaries for each year) to the Mlab (wine_history collection with 8003 documents in mLab)

### 1-3) add a list of several features (production, consumption, export, import, production per capita, and consumption per capita) per country and export it (wine_history_list collection with 53 documents in mLab)


# 2) For the wine price and rating, we export the db using three options and generate two collections: wine_price_rating_World and wine_price_rating_US (Only refers to The States)
### 2-1) genrating a Pandas df from all data (120916 rows) -> Jsonify df --> use commands in a terminal (wine_price collection with 1 document in mLab)

### 2-1) add each row (a list of dictionaries for each year) to the Mlab (wine_price_rating collections with 8003 documents in mLab)

### 2-3) add a list of several features (points, price, variety, and sub variety) per country and export it (wine_price_rating collection with 53 documents in mLab)

## Note for both wine history and price&rating: 
### Option 1 generates one document (cell) in a colleciton of db in mLab. So, we have to make queries based on Python-based commands when exported to the flask app

### Option 2 generates documents as many as the size of Pandas df (that is not generated nor used in this case but was generated during option 1). So, we can get benefit from query and filtering inherent in the mongodb dbs.

### Option 3: generates documents as many as the size of country list. This version will be used for GeoJSONifying in the app.py

# Import libraries and keys

In [1]:
import pandas as pd
import numpy as np
import time
import ast
from api_keys_all import (owmkey,gkey,mLab_pass)
#from api_keys import mLab_pass

# 1) Wine History:

## Read data from excel sheets

In [2]:
sheets=['T6 Wine production vol','T8 Wine prodn per capita','T9 Wine prodn per $m real GDP',\
        'T34 Wine consumption vol','T38 Wine consumption per capita','T39 wine consumption per $m GDP',\
        'T10 Wine export vol', 'T21 Wine export value', 'T13 Wine exports per $m GDP', \
        'T15 Wine import vol', 'T25 Wine import value', 'T18 Wine imports per $m GDP', \
        'Wine Excess Volume', 'T58 Population']
dfs=[];
for i in range(0,len(sheets)):
    dfs.append('df'+str(i));

## Specify countries and years of study

In [3]:
countries=list(pd.read_excel('Wine_History.xlsx', sheet_name=sheets[0], header=0, index_col=None).columns.values)[1:]
years=np.arange(1865,2017)

# Finding coordinates (lat and long) of the center of each country

In [4]:
import gmaps
import requests
import json

# base paramters
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
params = {
        "address": "",
        "key": gkey
}

lats=[]
lngs=[]
for i,x in enumerate(countries):
    # set up a parameters dictionary
    if x in ['Other WEM', 'Other ECA', 'Other LAC', 'Other AME', 'World']:
        lats.append(None)
        lngs.append(None)
    elif x == 'Georgia':
        lats.append(42.3154)
        lngs.append(43.3569)
    else:
        params['address']= x
        response = requests.get(base_url, params=params)
        if (response.status_code == 200):
            response=response.json()
            if (response['status'] != 'ZERO_RESULTS'):
                lats.append(response['results'][0]['geometry']['location']['lat'])
                lngs.append(response['results'][0]['geometry']['location']['lng'])
            else:
                lats.append(None)
                lngs.append(None)
                print ("i=",i, ": coordinates Not found for ", x)

## Read through all worksheets and generate 7 interim Pandas Dataframes (dfs[i] i=0-6)

In [5]:
for i,sheet in enumerate(sheets):
    dfs[i]=pd.read_excel('Wine_History.xlsx', sheet_name=sheet, header=0, index_col=None)

# Write to mLab db: 
## Option 1: Generating big df and export its jsonified version as a document to mLab

## a) Generate Pandas df

In [6]:
df=pd.DataFrame({},columns=years)
cell_list=[]
cell_list_GeoJSON=[]
for i,country in enumerate(countries):
    row=[]
    for j,year in enumerate(years):
        cell={"Country":country,
              "Coordinate":{"lat": lats[i], "lon": lngs[i]},
              "Year": str(year),
              "Production":  str(dfs[0].iloc[j,i+1]),
              "Production_capita": str(dfs[1].iloc[j,i+1]),
              "Production_capita_GDP": str(dfs[2].iloc[j,i+1]),
              "Consumption": str(dfs[3].iloc[j,i+1]),
              "Consumption_capita": str(dfs[4].iloc[j,i+1]),
              "Consumption_capita_GDP": str(dfs[5].iloc[j,i+1]),
              "Export_vol": str(dfs[6].iloc[j,i+1]),
              "Export_val": str(dfs[7].iloc[j,i+1]),
              "Export_vol_GDP": str(dfs[8].iloc[j,i+1]),
              "Import_vol": str(dfs[9].iloc[j,i+1]),
              "Import_val": str(dfs[10].iloc[j,i+1]),
              "Import_vol_GDP": str(dfs[11].iloc[j,i+1]),
              "Excess_vol": str(dfs[12].iloc[j,i+1]),
              "Population": str(dfs[13].iloc[j,i+1])
        } 
        cell_geo={"Country":country,
              "Year": str(year),
              "Production":  str(dfs[0].iloc[j,i+1]),
              "Production_capita": str(dfs[1].iloc[j,i+1]),
              "Production_capita_GDP": str(dfs[2].iloc[j,i+1]),
              "Consumption": str(dfs[3].iloc[j,i+1]),
              "Consumption_capita": str(dfs[4].iloc[j,i+1]),
              "Consumption_capita_GDP": str(dfs[5].iloc[j,i+1]),
              "Export_vol": str(dfs[6].iloc[j,i+1]),
              "Export_val": str(dfs[7].iloc[j,i+1]),
              "Export_vol_GDP": str(dfs[8].iloc[j,i+1]),
              "Import_vol": str(dfs[9].iloc[j,i+1]),
              "Import_val": str(dfs[10].iloc[j,i+1]),
              "Import_vol_GDP": str(dfs[11].iloc[j,i+1]),
              "Excess_vol": str(dfs[12].iloc[j,i+1]),
              "Population": str(dfs[13].iloc[j,i+1])
        }  
        cell_list.append(cell)
        cell_list_GeoJSON.append(cell_geo)
        row.append(cell)
    df=df.append(pd.Series(row, index = df.columns),ignore_index=True)
df.head()

,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,"{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...",...,"{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46...","{'Country': 'France', 'Coordinate': {'lat': 46..."
1,"{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....",...,"{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41....","{'Country': 'Italy', 'Coordinate': {'lat': 41...."
2,"{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...",...,"{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ...","{'Country': 'Portugal', 'Coordinate': {'lat': ..."
3,"{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....",...,"{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40....","{'Country': 'Spain', 'Coordinate': {'lat': 40...."
4,"{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...",...,"{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4...","{'Country': 'Austria', 'Coordinate': {'lat': 4..."

## b) Jsonify df

In [7]:
df.to_json('wine_hist_onedoc.json',orient="split",index=False)

### c) convert to GeoJSON

In [8]:
geojson = {
        "type": "FeatureCollection",
        "metadata": {
        "title": "Wine History by Pygeons",
        "status": 200,
        "count": len(cell_list)
        },
        "features": [
        {
            "type": "Feature",
            "geometry" : {
                "type": "Point",
                "coordinates": [d["Coordinate"]["lon"], d["Coordinate"]["lat"]],
                },
            "properties" : dgson,
        } for d,dgson in zip(cell_list, cell_list_GeoJSON)]
}

output = open("wine_history.GeoJSON", 'w')
json.dump(geojson, output)

## c) Export JSON file to mLab databse (Mongodb) using the command line in terminal:
#### $ mongoimport -h ds231377.mlab.com:31377 -d heroku_stp5z9b7 -c wine_history_onedocument -u pygeons -p pygeons2019 --file wine_hist_onedoc.json

# Option 2: 
## a) Make a connection to the mLab db and create a collection in it

In [9]:
import pymongo
mLab_ID={
    "_id": "heroku_stp5z9b7.pygeons",
    "user": "pygeons",
    "db": "heroku_stp5z9b7",
    "roles": [
        {
            "role": "dbOwner",
            "db": "heroku_stp5z9b7"
        }
    ],
}

conn_local='mongodb://localhost:27017'

conn_mLab='mongodb://{one}:{two}@ds231377.mlab.com:31377/{three}'\
            .format(one=mLab_ID['user'], two=mLab_pass, three=mLab_ID['db'])
client = pymongo.MongoClient(conn_mLab)

#connect to database heroku_stp5z9b7
db = client.heroku_stp5z9b7

# create/read collections for options 1 and 2:
wine_opt1=db.wine_history_oneJSONdocument # creating/reading collection by option 1
wine_opt2=db.wine_history # creating/reading collection by option 2 (total size of document is country * years=54*151 )
wine_opt3=db.wine_history_list # creating/reading collection by option 3 (make list of each property so total size of document is only country=54)
wine_rating_world=db.wine_rating_list_World #wine rating by country (42 producing countries including US)
wine_rating_states=db.wine_rating_list_States #wine rating by country (The States properties)

## b) generate a list of dictionaries per countries and insert it to the mLab db
#### Note: we need to convert numeric values to string

In [10]:
for i,country in enumerate(countries):
    row=[]
    for j,year in enumerate(years):
        cell={"Country":country,
              "Coordinate":{"lat": lats[i], "lon": lngs[i]},
              "Year": str(year),
              "Production_volume":  str(dfs[0].iloc[j,i+1]),
              "Production_capita": str(dfs[1].iloc[j,i+1]),
              "Production_capita_GDP": str(dfs[2].iloc[j,i+1]),
              "Consumption_volume": str(dfs[3].iloc[j,i+1]),
              "Consumption_capita": str(dfs[4].iloc[j,i+1]),
              "Consumption_capita_GDP": str(dfs[5].iloc[j,i+1]),
              "Export_volume": str(dfs[6].iloc[j,i+1]),
              "Export_value": str(dfs[7].iloc[j,i+1]),
              "Export_volume_GDP": str(dfs[8].iloc[j,i+1]),
              "Import_volume": str(dfs[9].iloc[j,i+1]),
              "Import_value": str(dfs[10].iloc[j,i+1]),
              "Import_volume_GDP": str(dfs[11].iloc[j,i+1]),
              "Excess_volume": str(dfs[12].iloc[j,i+1]),
              "Population": str(dfs[13].iloc[j,i+1])  
        }  
        row.append(cell)
    wine_opt2.insert_many(row)

### c) generate a list of dictionaries per countries and insert it to the mLab db (make a list of each property for all years that reduces the size of document = country=54)

#### Note: we need to convert numeric values to string¶

In [ ]:
for i,country in enumerate(countries):

    Years=[] 
    Prod=[]
    Prodpc=[]
    Prodpcgdp=[]
    Cons=[]
    Conspc=[]
    Conspcgdp=[]
    Expvol=[]
    Expval=[]
    Expvolgdp=[]
    Impvol=[]
    Impval=[]
    Impvolgdp=[]
    Excessvol=[]
    Popu=[]
    for j,year in enumerate(years):
        Years.append(year)
        Prod.append(dfs[0].iloc[j,i+1])
        Prodpc.append(dfs[1].iloc[j,i+1])
        Prodpcgdp.append(dfs[2].iloc[j,i+1])
        Cons.append(dfs[3].iloc[j,i+1])
        Conspc.append(dfs[4].iloc[j,i+1])
        Conspcgdp.append(dfs[5].iloc[j,i+1])
        Expvol.append(dfs[6].iloc[j,i+1])
        Expval.append(dfs[7].iloc[j,i+1])
        Expvolgdp.append(dfs[8].iloc[j,i+1])
        Impvol.append(dfs[9].iloc[j,i+1])
        Impval.append(dfs[10].iloc[j,i+1])
        Impvolgdp.append(dfs[11].iloc[j,i+1])
        Excessvol.append(dfs[12].iloc[j,i+1])
        Popu.append(dfs[13].iloc[j,i+1])
    cell={"Country":country,
          "Coordinate":{"lat": lats[i], "lon": lngs[i]},
          "Year": str(Years),
          "Production_volume": str(Prod),
          "Production_capita":str(Prodpc),
          "Production_capita_GDP":str(Prodpcgdp),
          "Consumption_volume":str(Cons),
          "Consumption_capita":str(Conspc),
          "Consumption_capita_GDP":str(Conspcgdp),
          "Export_volume":str(Expvol),
          "Export_value":str(Expval),
          "Export_volume_GDP":str(Expvolgdp),
          "Import_volume":str(Impvol),
          "Import_value":str(Impval),
          "Import_volume_GDP":str(Impvolgdp),
          "Excess_volume": str(Excessvol),
          "Population":str(Popu)
         }  
    wine_opt3.insert_one(cell)

## Now we read from MongoDB

## name of collections found in the remote wine db

In [ ]:
print(db.list_collection_names())

## Status of the remote collecitons

In [ ]:
print(wine_opt1.stats)
print(wine_opt2.stats)
print(wine_opt2_v2.stats)

## Query data from wine collection (option 1)
### Note: data is stores as Data[x][y] where x,y denotes country and year respectively

In [ ]:
queries = wine_opt1.find()
#print(queries)
# Iterate through each student in the collection
for i,q in enumerate(queries):
    print("i=",i,"\n",q)

### List time series data for particular country e.g. Italy

In [ ]:
Data=q['data']
ind_country=countries.index('Italy')
for i,yr in enumerate(q['columns']):
        print(Data[ind_country][i])

### List data for all countries for a specified range of years e.g. 1975 to 2010

In [ ]:
ind_year=np.where(np.logical_and(years>=1975, years<=2010))

for year in np.nditer(ind_year):
    for i,country in enumerate(countries):
        print(Data[i][year])

## Query data from wine_history collection (option 2)¶

### List data for a specific country and year (option 2) e.g., Italy, 2010

In [ ]:
wd=wine_opt2.find({'Country':"Italy", 'year':'2010'})
for data in wd:
    print(data)

### Retrieve production data (time series) for Italy from option 2
#### Note: the size of this collection is 53 but it has a string of list of properties per country that must be converted to list to be used

In [ ]:
wd=wine_opt2_v2.find({'country':"Italy"})
for data in wd:
    print(ast.literal_eval(data['Production']))

# 2) Wine Price and Rating:

## Read data from csv file

In [ ]:
 dfr=pd.read_csv('Wine_price_rating_variety.csv',header=0, index_col=None)

### Drop redundnt data and group by country column

In [ ]:
dfr=dfr[['country', 'province','points', 'price', 'variety', 'winery', 'vt']]
dfr.head()

### Return wine producing countries list

In [ ]:
countries_rating=list(dfr.groupby(['country']).groups.keys())

### Find the lat and long of each country and The US state

In [ ]:
# base paramters
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
params = {
        "address": "",
        "key": gkey
}

lats=[]
lngs=[]
for i,x in enumerate(countries_rating):
    if x in ['Other WEM', 'Other ECA', 'Other LAC', 'Other AME', 'World']:
        lats.append(None)
        lngs.append(None)
    elif x == 'Georgia':
        lats.append(42.3154)
        lngs.append(43.3569)
    elif x=='US':
        lats.append(37.0902)
        lngs.append(-95.7129)
    else:
        params['address']= x
        response = requests.get(base_url, params=params)
        if (response.status_code == 200):
            response=response.json()
            if (response['status'] != 'ZERO_RESULTS'):
                lats.append(response['results'][0]['geometry']['location']['lat'])
                lngs.append(response['results'][0]['geometry']['location']['lng'])
            else:
                lats.append(None)
                lngs.append(None)
                print ("i=",i, ": coordinates Not found for ", x)

### Transfering countries features to the wine_rating_list_world

In [ ]:
for i,country in enumerate(countries_rating):
    cell={
        "Country": country,
        "Province": str(list(dfr[dfr['country']==country]['province'])),
        "coordinate":{"lat": lats[i], "lon": lngs[i]},
        "Price": str(list(dfr[dfr['country']==country]['price'])),
        "Rating": str(list(dfr[dfr['country']==country]['points'])),
        "Variety": str(list(dfr[dfr['country']==country]['vt'])),
        "Subvariety": str(list(dfr[dfr['country']==country]['variety']))   
    }
    wine_rating_world.insert_one(cell)
    time.sleep(5)

### Transfering The States features to the wine_rating_list_States

In [ ]:
dfr_US=dfr[dfr.country=='US']

In [ ]:
states=list(dfr_US.groupby(['province']).groups.keys())
states

In [ ]:
lats=[]
lngs=[]
for x in states: #excluding America state
    if x in ['America', 'Washington-Oregon', 'Other LAC', 'Other AME', 'World']:
        lats.append(None)
        lngs.append(None)
    else:
        # set up a parameters dictionary
        params['address']= x + ', US'
        response = requests.get(base_url, params=params)

        #print(json.dumps(response, indent=4, sort_keys=True)) 
        response=response.json()
        if (response['status'] != 'ZERO_RESULTS'):
            lats.append(response['results'][0]['geometry']['location']['lat'])
            lngs.append(response['results'][0]['geometry']['location']['lng'])
        else:
            lats.append(None)
            lngs.append(None)
            print ("i=",i, ": coordinates Not found for ", x)

In [ ]:
for i,state in enumerate(states): #excluding America state
    cell={
        "Country": 'The US',
        "State": state,
        "coordinate":{"lat": lats[i], "lon": lngs[i]},
        "Price": str(list(dfr_US[dfr_US['province']==state]['price'])),
        "Rating": str(list(dfr_US[dfr_US['province']==state]['points'])),
        "Variety": str(list(dfr_US[dfr_US['province']==state]['vt'])),
        "Subvariety": str(list(dfr_US[dfr_US['province']==state]['variety']))   
    }
    wine_rating_states.insert_one(cell)
    time.sleep(5)

## Retreiving data from wine_rating_list_World & wine_rating_list_States

In [ ]:
wd=wine_rating_world.find({'Country':"US"})
for data in wd:
    print(len(ast.literal_eval(data['Province'])))

In [ ]:
wd=wine_rating_world.find({'Country':"Italy"},{'_id': False})
for data in wd:
    print(data)

In [ ]:
wd=wine_rating_states.find({'State':"Texas"},{'_id': False})
for data in wd:
    print(data)